{% extends "base.html" %}
{% block title %}
    Route Finder
{% endblock %}

{% block header %}
    <h1>Update Schedule Data</h1>
{% endblock %}

{% block content %}
    {% if iataCode is defined %}
        <p><label for="iataCode">Airport: </label><a id="iataCode" href="/schedule/scheduleCities/"
                                                     data-role="button">{{ iataCode }}</a><p>
    {% endif %}

{% if iataCode is not defined %}
    {{ list("/schedule/scheduleForm/", airport_list) }}
{% else %}
    <form action="/schedule/updateSchedule/{{ iataCode }}/" method="post">
        <input type="submit" value="Update"/>
    </form>
{% endif %}

{% endblock %}


{% macro list(link="", airport_list="") -%}
    <div>
        {% if airport_list %}
            <ul id="searchList" data-role="listview" data-theme="b" data-filter="true"
                data-filter-placeholder="Enter {{ page_title }}..." data-inset="true">
                {% for airport in airport_list %}
                    <li data-filtertext="{{ airport.name }}"><a
                            href="{{ link + airport.iataCode }}/">{{ airport.name }}</a></li>
                {% endfor %}
            </ul>
        {% else %}
            No Airports.
        {% endif %}
    </div>
{% endmacro %}		
